This file was used to split the Toronto Open Data into training and testing data. Note that the file names have since changed.

In [1]:
import pandas as pd
import csv

# Toronto Open Data

In [2]:
df_ods = pd.read_csv("Totonto Open Data Source.csv", low_memory=False)

In [3]:
df_ods.head()

,_id,EventUniqueId,OccurrenceDate,Month,Day_of_Week,Year,Hour,Division,Atom,Neighbourhood,Fatalities,Injury_Collisions,FTR_Collisions,PD_Collisions,geometry
0,1,GO-20148000204,2014-01-03T05:00:00,January,Friday,2014,8.0,NSA,NSA,NSA,NaN,NO,NO,YES,"{'type': 'Point', 'coordinates': (0.0, 0.0)}"
1,2,GO-20148000205,2014-01-03T05:00:00,January,Friday,2014,12.0,D54/D55,68,North Riverdale (68),NaN,NO,NO,YES,"{'type': 'Point', 'coordinates': (-79.35389302..."
2,3,GO-20148000206,2014-01-03T05:00:00,January,Friday,2014,8.0,NSA,NSA,NSA,NaN,NO,NO,YES,"{'type': 'Point', 'coordinates': (0.0, 0.0)}"
3,4,GO-20148000208,2014-01-03T05:00:00,January,Friday,2014,11.0,D52,79,University (79),NaN,NO,NO,YES,"{'type': 'Point', 'coordinates': (-79.40207036..."
4,5,GO-20148000209,2014-01-03T05:00:00,January,Friday,2014,13.0,D32,50,Newtonbrook East (50),NaN,NO,NO,YES,"{'type': 'Point', 'coordinates': (-79.42004278..."

In [4]:
df_ods_times = df_ods[['Year', 'Month']].replace({"January": '1', "February": '2', "March": '3', "April": '4', "May": '5', "June": '6',
                      "July": '7', "August": '8', "September": "9", "October": '10', "November": "11", "December": '12'})
df_ods_times = df_ods_times['Year'].astype(str) + '_' + df_ods_times['Month']

In [5]:
df_ods_train = df_ods[ df_ods_times <  '2018_7' ]
df_ods_test  = df_ods[ df_ods_times >= '2018_7' ]

In [2]:
import os, sys
os.path.abspath('')

'C:\\Users\\ferdi\\Documents\\A_School\\MIE 368\\MIE368-Project\\data-handling'

In [6]:
df_ods_train.to_csv(r"Temp\Accidents - Training - Toronto Open Data.csv", index=False)

In [7]:
df_ods_test.to_csv(r"Temp\Accidents - Testing - Toronto Open Data.csv", index=False)

# Toronto Public Safety

In [8]:
df_pss = pd.read_csv("Public Safety Source.csv", low_memory=False)

In [9]:
df_pss.head()

,X,Y,INDEX_,ACCNUM,YEAR,DATE,TIME,STREET1,STREET2,OFFSET,...,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140,DIVISION,ObjectId
0,-8.848830e+06,5.413553e+06,3374272,887427.0,2006,2006/02/07 05:00:00+00,1330,JANE ST,BRADLEY AVE,NaN,...,NaN,NaN,NaN,NaN,89,Runnymede-Bloor West Village,89,Runnymede-Bloor West Village (89),D11,1
1,-8.847572e+06,5.412645e+06,3382290,890583.0,2006,2006/02/08 05:00:00+00,745,WOODSIDE AVE,RUNNYMEDE RD,NaN,...,Yes,NaN,NaN,NaN,88,High Park North,88,High Park North (88),D11,2
2,-8.847572e+06,5.412645e+06,3382291,890583.0,2006,2006/02/08 05:00:00+00,745,WOODSIDE AVE,RUNNYMEDE RD,NaN,...,Yes,NaN,NaN,NaN,88,High Park North,88,High Park North (88),D11,3
3,-8.860541e+06,5.417093e+06,3602929,887637.0,2006,2006/02/08 05:00:00+00,1500,CARLINGVIEW DR,DIXON RD,NaN,...,NaN,NaN,NaN,NaN,1,West Humber-Clairville,1,West Humber-Clairville (1),D23,4
4,-8.860541e+06,5.417093e+06,3602930,887637.0,2006,2006/02/08 05:00:00+00,1500,CARLINGVIEW DR,DIXON RD,NaN,...,NaN,NaN,NaN,NaN,1,West Humber-Clairville,1,West Humber-Clairville (1),D23,5

In [10]:
df_pss_times = df_pss["DATE"].str.split('/', expand = True) # Split DATE column into [year, month, ...]
df_pss_times = df_pss_times[0] + "_" + df_pss_times[1] # Get Series of format "year_month"

In [11]:
df_pss_train = df_pss[ df_pss_times < "2018_07" ]
df_pss_test = df_pss[ df_pss_times >= "2018_07" ]

In [12]:
len(df_pss_train)

13403

In [13]:
len(df_pss_test)

3147

In [14]:
len(df_pss)

16550

In [15]:
df_pss_train.to_csv(r"C:\Users\ferdi\Documents\A_School\MIE 368\Training Data\Accidents - Training - Public Safety.csv", index=False)

In [16]:
df_pss_test.to_csv(r"C:\Users\ferdi\Documents\A_School\MIE 368\Testing Data\Accidents - Testing - Public Safety.csv", index=False)