In [1]:
import sys, os
sys.path.append(os.path.abspath(''))

from neighbourhood import open_geopandas_csv, get_neighbourhoods, get_collisions

In [2]:
neighbourhood_gdf = get_neighbourhoods()

In [3]:
collisions_gdf    = get_collisions()

In [4]:
collisions_gdf.head()

,Year,Month,Date_in_Month,Day_of_Week,Hour,Fatalities,Injuries,Property_Damages,Neighbourhood,geometry
1,2014,1,3,Friday,12.0,False,False,True,87,POINT (-79.35389 43.67049)
194,2014,1,4,Saturday,19.0,False,True,False,87,POINT (-79.34958 43.67801)
663,2014,1,2,Thursday,6.0,False,False,True,87,POINT (-79.34730 43.67846)
972,2014,1,6,Monday,10.0,False,False,True,87,POINT (-79.35402 43.67714)
1000,2014,1,9,Thursday,7.0,False,False,True,87,POINT (-79.35883 43.67620)

In [5]:
len(collisions_gdf)

295011